<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
  <%- include('./partials/meta-info.ejs'); -%>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

	<body>

		<!-- Start Header/Navigation -->
		<%- include('./partials/header.ejs'); -%>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Cart</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<div id="products_list" class="untree_co-section before-footer-section">
      <div class="container">
        <div class="row mb-5">
          <div class="site-blocks-table">
          <% if (cart_data.length > 0) { %>
            <table id="productTable" class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                </tr>
              </thead> 
              <tbody>
                <% for (let i = 0; i < cart_data.length; i++) { %>
                  <tr id="productRow<%= cart_data[i].product_id %>"> 
                    <td class="product-thumbnail">
                      <img src="images/<%= cart_data[i].img %>" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black"><%= cart_data[i].product_name %></h2>
                    </td>
                    <td>€ <%= parseFloat(cart_data[i].price).toFixed(2) %></td>
                    <td>
                     <center>
                      <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <script type="text/javascript">
                            // AJAX POST request when user want to decrement quantity of a product
                            $(document).ready(function(){
                              $("#decreaseQuantity<%= cart_data[i].product_id %>")
                                .on("click", function(){
                                  let body = {
                                      product_id: '<%= cart_data[i].product_id %>',  
                                  };
                        
                                  $.post("/decrease_cart", body).done(function(response){
                                    let total = response.cart_total;
                                    $("#total").empty().html("€ " + total.toFixed(2));	

                                    let empty_cart = response.empty_cart;
                                    if(empty_cart){
                                      $("#productTable").remove();
                                      $("#emptyCartMsg").css({"display": "block"});
                                      $("#buyButton").remove();
                                      return;
                                    }
                                    											
                                    if(!response.product_deleted){
                                      let id = response.cart_element.product_id;
                                      let price = response.cart_element.price;
                                      let quantity = response.cart_element.quantity;
                                      let max_quantity = response.cart_element.max_quantity;
                                      $(`#quantityFor${id}`).empty().html(quantity);
                                      $(`#totalFor${id}`).empty().html("€ " + (quantity*price).toFixed(2));
                                      if(quantity < max_quantity)
                                        $(`#addQuantity${id}`).css({"display" : "inline"}); // display '+' button if not shown
                                    }
                                    else{
                                      let id = response.product_id;
                                      $(`#productRow${id}`).remove();
                                    }
                                  });

                                  return;
                                }); 
                            }); 
                          </script>
                          <button id="decreaseQuantity<%= cart_data[i].product_id %>" class="btn btn-outline-black decrease">&minus;</button>
                        </div>
                        <input type="text" readonly id="quantityFor<%= cart_data[i].product_id %>" name="quantity" class="form-control text-center quantity-amount fixed-width" value="<%= cart_data[i].quantity %>" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <script type="text/javascript">
                            // AJAX POST request when user want to increment quantity of a product
                            $(document).ready(function(){
                              $("#addQuantity<%= cart_data[i].product_id %>")
                                .on("click", function(){
                                  let body = {
                                      action: 'increment_quantity',
                                      product_id: '<%= cart_data[i].product_id %>',
                                      product_name: '<%= cart_data[i].product_name %>',
                                      product_price: '<%= cart_data[i].price %>',
                                      product_quantity: '<%= cart_data[i].max_quantity %>',
                                      product_image: '<%= cart_data[i].img %>'
                                  };
                        
                                  $.post("/add_cart", body).done(function(response){
                                    let id = response.cart_element.product_id;
                                    let price = response.cart_element.price;
                                    let quantity = response.cart_element.quantity;
                                    let max_quantity = response.cart_element.max_quantity;
                                    let total = response.cart_total;
                                    $(`#quantityFor${id}`).empty().html(quantity);
                                    $(`#totalFor${id}`).empty().html("€ " + (quantity*price).toFixed(2));
                                    if(quantity >= max_quantity)
                                        $(`#addQuantity${id}`).css({"display" : "none"}); // hide '+' button
                                    $("#total").empty().html("€ " + total.toFixed(2));												
                                  });

                                  return;
                                }); 
                            }); 
                          </script>
                          <!-- display '+' button only if product quantity permit -->
                          <% if (products_unavailable.indexOf(String(cart_data[i].product_id)) == -1) { %> 
                            <button id="addQuantity<%= cart_data[i].product_id %>" class="btn btn-outline-black increase">&plus;</button>
                          <% } else { %>
                            <button id="addQuantity<%= cart_data[i].product_id %>" class="btn btn-outline-black increase" style="display: none">&plus;</button>
                          <% } %>
                        </div>
                      </div>
                     </center>
                    </td>
                    <td id="totalFor<%= cart_data[i].product_id %>">€ <%= parseFloat(cart_data[i].price * cart_data[i].quantity).toFixed(2)  %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <div id="emptyCartMsg" style="display: none"> <!-- FOR JS -->
              <h2><b>No products in the cart!</b></h2>
            </div>
           <% } else { %>
             <div> <!-- FOR EJS -->
                 <h2><b>No products in the cart!</b></h2>
             </div>
           <% } %>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <form method="POST" action="/empty_cart"> <button class="btn btn-black btn-sm btn-block">Empty Cart</button> </form>
              </div>
              <div class="col-md-6">
                <form method="GET" action="/shop#products_list"> <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button> </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Total</h3>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong id="total" class="text-black">€ <%= parseFloat(cart_total).toFixed(2) %></strong>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-12">
                    <!-- ognuno degli elementi nel carrello manda tutti i valori -->
                    <% if(cart_data.length > 0){ %>
                     <form method="POST" action="/buyCart"> 
                      <button id="buyButton" class="btn btn-black btn-lg py-3 btn-block" >Buy now</button> 
                    </form>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		
		<!-- Start Footer Section -->
		<%- include('./partials/footer.ejs'); -%>
		<!-- End Footer Section -->	

		<%- include('./partials/script.ejs'); -%>
	</body>

</html>
