<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
	<%- include('./partials/meta-info.ejs'); -%>
</head>

	<body>

		<!-- Start Header/Navigation -->
		<%- include('./partials/header.ejs'); -%>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Orders</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<div class="untree_co-section">
		    <div class="container">

		      <div class="row">
	
				<!-- Start list orders -->
		        <div class="col-md-6 mb-5 mb-md-0">
		          <h2 class="h3 mb-3 text-black">Last Orders List</h2>
		          <div class="p-3 p-lg-5 border bg-white">
		            <table class="table site-block-order-table mb-5">
						<thead>
						  <th>Order details </th>
						  <th>Total</th>
						</thead>
						<tbody>
							<% for(let i = 0; i < listOrder.length; i++){ %> 
							<tr>
								<td>Order <%= i+1 %>
									<ul>
										<% for(let j = 0; j < listOrder[i].length; j++){ %>
											<li> <%= listOrder[i][j].product_name %> <strong class="mx-2">x</strong> <%= listOrder[i][j].quantity %> </li>
										<% } %>
									</ul>
								</td>
								<td>
								€ <%= listOrderPrice[i].toFixed(2) %>
								</td>
							</tr>	  
							<% } %>
						</tbody>
					</table>
		          </div>
		        </div>
               <!-- End list orders -->

			   <!-- Start total order -->
		        <div class="col-md-6">
		          <div class="row mb-5">
		            <div class="col-md-12">
		              <h2 class="h3 mb-3 text-black">Total Orders price </h2>
		              <div class="p-3 p-lg-5 border bg-white">
		                <table class="table site-block-order-table mb-5">
		                  <thead>
		                    <td><b>Total spent </b></td>
		                    <td></b>€ <%= listOrderTotal.toFixed(2) %> </b></td>
		                  </thead>
		                </table>

		                <div class="form-group">
		                  <form method="GET" action="/"> <button class="btn btn-black btn-lg py-3 btn-block" >Back to home </button> </form>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      
			  </div>
		   </div>
		</div>

		<!-- Start Footer Section -->
		<%- include('./partials/footer.ejs'); -%>
		<!-- End Footer Section -->	

		<%- include('./partials/script.ejs'); -%>
	</body>

</html>