<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
	<%- include('./partials/meta-info.ejs'); -%>
</head>

	<body>

		<!-- Start Header/Navigation -->
		<%- include('./partials/header.ejs'); -%>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
								<%- include('./partials/common.ejs'); -%>
							</div>
						</div>
						<div class="col-lg-7">
							<div style="color: white">
								<h2>Filter by categories</h2>
								<% if(categories.length > 0) { %>
									<ul>
										<% for (let i = 0; i < categories.length; i++) { %>
											<a href="/shop/<%= categories[i].name %>" style="color: white">
												<li><%= categories[i].name %></li>
											</a>
										<% } %>
									</ul>
								<% } else { %>
									<h4><b>No categories available, come back later!</b></h4>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

        <!-- Start Product Section -->
		<div id="products_list" class="untree_co-section product-section before-footer-section">
		    <div class="container">
				<% if(typeof category != "undefined" ? category : false) { %>
					<div class="row">
						<h2>Category: <%= category %></h2>
					</div>
					<br><br><br>
				<% } %>	
				<div class="row">
                    <% if(products.length > 0) { %>
                        <% for (let i = 0; i < products.length; i++) { %>
                            <div class="col-12 col-md-4 col-lg-3 mb-5">
								<form action="/add_cart" method="post">
									<input type="hidden" name="action" value="add_product">
									<input type="hidden" name="product_id" value="<%= products[i].id %>">
									<input type="hidden" name="product_name" value="<%= products[i].name %>">
									<input type="hidden" name="product_price" value="<%= products[i].price %>">
									<input type="hidden" name="product_quantity" value="<%= products[i].quantity %>">
									<input type="hidden" name="product_image" value="<%= products[i].img %>">
									<div class="product-item">
										<img src="images/<%= products[i].img %>" class="img-fluid product-thumbnail">
										<h3 class="product-title"><%= products[i].name %></h3>
										<strong class="product-price">€ <%= products[i].price.toFixed(2) %></strong>
										<span class="icon-cross">
											<button>
												<img src="images/cross.svg" class="img-fluid">
											</button>
										</span>
									</div>
								</form>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div>
                            <h2><b>No products available, come back later!</b></h2>
                        </div>
                    <% } %>
		      	</div>
		    </div>
		</div>
        <!-- End Product Section -->

		<!-- Start Footer Section -->
		<%- include('./partials/footer.ejs'); -%>
		<!-- End Footer Section -->	

		<%- include('./partials/script.ejs'); -%>
	</body>

</html>
